body h6 {
  color: inherit;
  font-size: inherit;
  border-bottom: 1px dotted #eee;
  margin-bottom: 5px;
}

body code,
body kbd,
body pre {
  border: 1px solid #CACACA;
}

body table th {
  background-color: #e0e0e0;
  border: 1px solid #bbb
}

body table th,
body table td {
  vertical-align: top;
}

body table thead th,
body table thead td {
  vertical-align: bottom;
}

/*
body blockquote {
  color: inherit;
}
*/

/* Ordered List */

body ol {
  list-style-type: decimal ! important;
}

body .task-list-item {
  list-style-type: none ! important;
}

/* Print Settings */
@media only print {
  pre, pre code {
    overflow: visible ! important;
    overflow-wrap: anywhere ! important;
    white-space: pre-wrap ! important;
  }

  table {
    overflow: visible ! important;
    overflow-wrap: anywhere ! important;
  }
}
