body code,
body kbd,
body pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

body code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

body pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

body code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.10);
  border-radius: 3px;
}

body .highlight pre,
body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: rgba(0,0,0,0.10);
  border-radius: 3px;
}

body code:before,
body code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

body pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

body pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

body pre code:before,
body pre code:after {
  content: normal;
}

body dl {
  vertical-align: top;
}

.reveal .slides section .fragment.semi-fade-in {
  opacity: 0.2;
  visibility: inherit;
}

.reveal .slides section .fragment.semi-fade-in.visible {
  opacity: 1.0;
}

* {
  text-align: left;
}



/*
 * Theme setting override
 *
 * See below:
 *  - `reveal.js/css/theme/source/*.scss`
 *      - Themes
 *  - `reveal.js/css/theme/template/theme.scss`
 *      - Default theme settings
 *  - `reveal.js/css/theme/template/exposer.scss`
 *      - Set given configurations into CSS variables
 *  - `reveal.js/css/theme/template/settings.scss`
 *      - Root configurations
 *
 * Not to touch reveal.js code, here override the CSS variables in `exposer.scss`.
 */

:root {
  --r-heading-text-transform: none ! important;
}
